<div class="row mt-5">
    <div class="col-md-8 col-lg-8 m-auto">
        <div class="card">
            <div class="card-title">
                <h1 class="text-center mb-3" style="margin-top:20px">
                    <i class="fas fa-exclamation-triangle"></i> Проблема с версией Node!
                </h1>
            </div>
            <div class="card-subtitle row align-items-center">
                <h4 class="badge col text-warning">
                    OctoFarm не удалось запустить, так как ваша версия Node не соответствует требованиям (Node 14+).
                </h4>
            </div>
            <div class="card card-body">
                <%- include('./partials/messages') %>
                <span>
                    Режим Docker:
                    <span class="badge badge-dark"><%= isDocker; %></span>
                </span>
                <span>
                    Режим Pm2:
                    <span class="badge badge-dark"><%= isPm2; %></span>
                </span>
                <span>
                    Версия OctoFarm:
                    <span class="badge badge-dark"><%= npmPackageJson; %></span>
                </span>
                <span>
                    Версия NodeJS:
                    <span class="badge badge-dark"><%= nodeVersion; %></span>
                </span>
                <span>
                    ОС:
                    <span class="badge badge-dark"><%= os; %></span>
                </span>
                <br />

                <form method="post">
                    <div class="form-group">
                        Пожалуйста, прочитайте инструкции по <a href="https://octofarm.net/installation#nvm-update">обновлению версии Node с помощью <strong>nvm</strong> (Node Version Manager)</a>, docker, docker-compose, chocolatey или npm. <br/>
                        Если это не помогло, вы можете найти альтернативные инструкции <a href="https://phoenixnap.com/kb/update-node-js-version">здесь</a>.
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
