<% let base = './partials' %>
<% let card = base + '/octofarm-card.ejs' %>
<% let modal = base + '/octofarm-modal.ejs' %>
<% let table = base + '/octofarm-table.ejs' %>

<% if(typeof userGroup != "undefined" && userGroup === "Administrator"){ %>
<div class="row">
    <% if(clientSettings.printerManager.currentOperations){%> <%-
    include('./partials/currentOperations.ejs') %>
    <% }%>
</div>
<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-6">
        <%- include(card, {
        tile:{
        id:"printerManagmentConnectionLog",i:"fa-sticky-note",title:"Журнал подключений",class:"col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12",
        },
        status: {
        id: "printerManagementConnectionLogStatus",
        icon: "fa-info-circle",
        title: "Строк: "
        },
        bodyFile:'./PrinterManager/printerConnectionLog.ejs'
        })
        %>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-3">
        <%- include(card, {
        tile:{
        id:"userActionsLog",i:"fa-user-tag",title:"Журнал действий",class:"col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12",
        },
        status: {
        id: "printerManagementUserActionsStatus",
        icon: "fa-location",
        title: "Строк: "
        },
        bodyFile:'./PrinterManager/printerActionsLog.ejs'
        })
        %>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-3">
        <%- include(card, {
        tile:{
        id:"printerManagementAlertsLog",i:"fa-bell",title:"Последние оповещения",class:"col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12",
        },
        status: {
        id: "printerManagementAlertsLogStatus",
        icon: "fa-bell",
        title: "Оповещения: "
        },
        bodyFile:'./PrinterManager/printerAlertsLog.ejs'
        })
        %>
    </div>

<% } %>
</div>
<div class="row">
    <%- include(table, {
    table:{
    id:"printerNewTable", contentId:"printerNewList", hide:true, headers: [
    { title:"Имя", style:"" },
    { title:"Группа", style:"min-width:190px;" },
    { title:"URL принтера", style:"" },
    { title:"URL камеры", style:"" },
    { title:"API ключ", style:"" },
    { title:'<button id="saveAllBtn" type="button" class="btn btn-success btn-sm"><i class="fas fa-save"></i></button>', style:"max-width:50px;" },
    { title:'<button id="delAllBtn" type="button" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>', style:"max-width:50px;" }
    ]
    }
    })
    %>
</div>
<div class="row">
    <%- include('./partials/PrinterManager/printerManagementBtns.ejs') %>
</div>

<div class="row">
    <%- include(table, {
    table:{
    id:"printerTable", contentId:"printerList", headers: [
    { title:"Индекс <br>сортировки", style:"max-width:25px;" },
    { title:"Имя" ,style:"", wrap:" text-wrap" },
    { title:"URL <br>принтера" ,style:"", wrap:" text-wrap" },
    { title:"Пользователь<br>OctoPrint" ,style:"max-width:10px;" },
    { title:"OctoPrint<br>API" ,style:"max-width:50px;" },
    { title:"Статус <br>принтера" ,style:"max-width:50px;" },
    { title:"OctoPrint <br>WebSocket" ,style:"max-width:50px;" },
    { title:"Группа" ,style:"min-width:10px;" },
    { title:"Управление" ,style:"max-width:10px;" },
    { title:"Быстрые<br>действия" ,style:"min-width:150px;" },
    { title:"Управление" ,style:"min-width:100px;" },
    { title:"Последний<br>статус" ,style:"min-width:150px; max-width: 150px;", wrap:" text-wrap"  },
    { title:"Оповещения" ,style:"min-width:300px;" },
    ]
    }
    })
    %>
</div>
<%- include(modal, {
    modal:{
    id:"bulkUpdateOctoPrintSettings", title:"Массовое обновление настроек OctoPrint"
    },
    bodyFile:'./PrinterManager/printerBulkSettings.modal.ejs'
    })
%>
<%- include(modal, {
    modal:{
    id:"printerLogs", title:"Логи принтера: "
    },
    bodyFile:'./PrinterManager/printerLogs.modal.ejs'
})
%>
<%- include(modal, {
modal:{
id:"farmOverview", title:"Обзор фермы"
},
bodyFile:'./PrinterManager/farmOverview.modal.ejs'
})
%>
<%- include(modal, {
    modal:{
    id:"connectionsOverview", title: "Обзор подключений"
    },
    bodyFile:'./PrinterManager/connectionOverview.modal.ejs'
})
%>
<%- include(modal, {
    modal:{
    id:"printerEdit", title:"Редактирование принтера: "
    },
    bodyFile:'./PrinterManager/printerEdit.modal.ejs'
})
%>
<%- include(modal, {
    modal:{
    id:"printerSettings", title:"Настройки принтера: "
    },
    bodyFile:'./PrinterManager/printerSettings.modal.ejs'
})
%>
<%- include(modal, {
    modal:{
        id:"printerStatistics", title:"Статистика принтера"
    },
    bodyFile:'./PrinterManager/printerStatistics.modal.ejs'
})
%>
<%- include(modal, {
modal:{
id:"healthChecks", title: "Проверка состояния принтеров"
},
bodyFile:'./PrinterManager/healthChecks.modal.ejs'
})
%>
<%- include(modal, {
modal:{
id:"printerEvents", title: "Текущие события принтера", size: "small"

},
bodyFile:'./PrinterManager/printerEvents.modal.ejs'
})
%>

<script src="/assets/js/printer-management.runner.<%= clientVersion %>.min.js" type="module"></script>
