<% const base = '../' %>
<% const modal = base + '/octofarm-modal.ejs' %>

<div class="row">
    <div class="col-12">
        <% let disabledUsers = "" %>
        <% if(!serverSettings.server.loginRequired){ %>
        <% disabledUsers = "disabled=true" %>
            <div class="alert alert-warning text-dark" role="alert">
                На сервере отключено требование входа, пользователи ниже не могут быть использованы.
            </div>
        <% } %>
    </div>
    <div class="col-12">
        <div class="float-left">
            <h4>Менеджер пользователей</h4>
        </div>
        <div class="float-right">
            <button id="createUserBtn" type="button" class="btn btn-success" data-toggle="modal" data-target="#userCreateModal" <%=disabledUsers%>><i class="fas fa-user-plus"></i> Новый пользователь</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 mt-2 table-responsive-sm table-responsive-md">
        <table id="" class="table table-dark table-striped text-center">
            <thead>
            <tr>
                <th scope="col" class="sticky-table table-dark" style="">Имя</th>
                <th scope="col" class="sticky-table table-dark" style="">Имя пользователя</th>
                <th scope="col" class="sticky-table table-dark" style="">Группа</th>
                <th scope="col" class="sticky-table table-dark" style="">Дата создания</th>
                <th scope="col" class="sticky-table table-dark" style="">Действия</th>
            </tr>
            </thead>
            <tbody id="userTable" style="height:100%; overflow-y:auto;">
                <% currentUsers.forEach(user => { %>
                    <% if(user.name === name || name === ""){ %>
                        <!-- Current user, do not allow password reset, edit, delete! -->
                        <tr id="userRow-<%=user._id%>">
                            <th id="userRowName-<%=user._id%>" scope="row"><%= user.name %></th>
                            <td id="userRowUserName-<%=user._id%>"><%= user.username %></td>
                            <td id="userRowUserGroup-<%=user._id%>"><%= user.group %></td>
                            <td><%= user.date.toLocaleDateString() %></td>
                            <td>
                                <button id="resetPasswordBtn-<%=user._id%>" type="button" class="btn btn-warning text-dark btn-sm" data-toggle="modal" data-target="#usersResetPasswordModal" disabled><i class="fas fa-user-shield"></i> Сбросить пароль</button>
                                <button id="editUserBtn-<%=user._id%>" type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#userEditModal" disabled><i class="fas fa-user-edit"></i> Редактировать</button>
                                <button id="deleteUserBtn-<%=user._id%>" type="button" class="btn btn-danger btn-sm" disabled><i class="fas fa-user-minus"></i> Удалить</button>
                            </td>
                        </tr>
                    <% } else { %>
                    <tr id="userRow-<%=user._id%>">
                        <th id="userRowName-<%=user._id%>" scope="row"><%= user.name %></th>
                        <td id="userRowUserName-<%=user._id%>"><%= user.username %></td>
                        <td id="userRowUserGroup-<%=user._id%>"><%= user.group %></td>
                        <td><%= user.date.toLocaleDateString() %></td>
                        <td>
                            <button id="resetPasswordBtn-<%=user._id%>" type="button" class="btn btn-warning text-dark btn-sm" data-toggle="modal" data-target="#usersResetPasswordModal"><i class="fas fa-user-shield"></i> Сбросить пароль</button>
                            <button id="editUserBtn-<%=user._id%>" type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#userEditModal"><i class="fas fa-user-edit"></i> Редактировать</button>
                            <button id="deleteUserBtn-<%=user._id%>" type="button" class="btn btn-danger btn-sm"><i class="fas fa-user-minus"></i> Удалить</button>
                        </td>
                    </tr>
                    <% } %>

                <% }) %>
            </tbody>
        </table>
    </div>
</div>

<%- include(modal, {
modal:{
id:"usersResetPassword", title:"Сбросить пароль", size: "modal-sm"
},
bodyFile:'./System/UserModals/userResetPassword.ejs'
})
%>
<%- include(modal, {
modal:{
id:"userEdit", title:"Редактировать пользователя", size: "modal-sm"
},
bodyFile:'./System/UserModals/userEdit.ejs'
})
%>
<%- include(modal, {
modal:{
id:"userCreate", title:"Создать пользователя", size: "modal-sm"
},
bodyFile:'./System/UserModals/userCreate.ejs'
})
%>
