<div id="systemTasksTable" class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h4>Задачи запуска</h4><hr>
        <table class="table-hover table table-dark">
            <thead>
            <tr>
                <th scope="col">Название задачи</th>
                <th scope="col">Первое выполнение</th>
                <th scope="col">Последнее выполнение</th>
                <th scope="col">Длительность</th>
            </tr>
            </thead>
            <tbody>
            <% for(const task in taskManagerState) { %>
                <% const currentTask = taskManagerState[task]  %>
                <% let taskName = task.replace(/_/g, " ") %>
                <% taskName = taskName.split(' ').map(w => w[0].toUpperCase() + w.substr(1).toLowerCase()).join(' ')%>
                <% if(!currentTask.options.periodic){ %>
                    <tr>
                        <th scope="row"><%= taskName %></th>
                        <td id="firstExecution-<%= task %>"><%= (currentTask.firstCompletion) ? new Date(currentTask.firstCompletion).toLocaleString().replace(",", ": ") : "Не запущено" %></td>
                        <td id="lastExecution-<%= task %>"><%= (currentTask.lastExecuted) ? new Date(currentTask.lastExecuted).toLocaleString().replace(",", ": ") : "Не завершено" %></td>
                        <td id="duration-<%= task %>"><%- (currentTask.duration) ? helpers.generateMilisecondsTime(currentTask.duration) : '<i class="fas fa-sync fa-spin"></i>'  %></td>
                    </tr>
                <% } %>

            <%     } %>
            </tbody>
        </table>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h4>Периодические задачи</h4><hr>
        <table class="table-hover table table-dark">
            <thead>
            <tr>
                <th scope="col">Название задачи</th>
                <th scope="col">Интервал</th>
                <th scope="col">Первое выполнение</th>
                <th scope="col">Последнее выполнение</th>
                <th scope="col">Длительность</th>
                <th scope="col">Следующее выполнение</th>
            </tr>
            </thead>
            <tbody>
            <% for(const task in taskManagerState) { %>
                <% const currentTask = taskManagerState[task]  %>
                <% let taskName = task.replace(/_/g, " ") %>
                <% taskName = taskName.split(' ').map(w => w[0].toUpperCase() + w.substr(1).toLowerCase()).join(' ')%>
                <% if(currentTask.options.periodic){ %>
                    <tr>
                        <th scope="row"><%= taskName %></th>
                        <td><%= (currentTask.options.periodic) ? helpers.generateMilisecondsTime(currentTask.options.milliseconds) : 'Нет интервала' %></td>
                        <td id="firstExecution-<%= task %>"><%= (currentTask.firstCompletion) ? new Date(currentTask.firstCompletion).toLocaleString().replace(",", ": ") : "Не запущено" %></td>
                        <td id="lastExecution-<%= task %>"><%= (currentTask.lastExecuted) ? new Date(currentTask.lastExecuted).toLocaleString().replace(",", ": ") : "Не завершено" %></td>
                        <td id="duration-<%= task %>"><%- (currentTask.duration) ? helpers.generateMilisecondsTime(currentTask.duration) : ''  %></td>
                        <td id="next-<%= task %>"><%= (currentTask.nextRun) ? new Date(currentTask.nextRun).toLocaleString().replace(",", ": ") : "Первое не завершено" %></td>
                    </tr>
                <% } %>

            <%     } %>
            </tbody>
        </table>
    </div>
</div>
